
Problem Statement:
A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 
Approach - A decision tree can be built with target variable Sale (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [1]:
# load data set
import pandas as pd

In [2]:
company_data=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Decision Tree\\Company_Data.csv")
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
company_data['ShelveLoc'].replace({'Bad':0,'Medium':1,'Good':2},inplace=True)
company_data['Urban'].replace({'No':0,'Yes':1},inplace=True)
company_data['US'].replace({'No':0,'Yes':1},inplace=True)

In [4]:
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,2,65,10,1,1
2,10.06,113,35,10,269,80,1,59,12,1,1
3,7.40,117,100,4,466,97,1,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,2,33,14,1,1
396,6.14,139,23,3,37,120,1,55,11,0,1
397,7.41,162,26,12,368,159,1,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,2,49,16,1,1

In [5]:
company_data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,0.972500,53.322500,13.900000,0.705000,0.645000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,0.672961,16.200297,2.620528,0.456614,0.479113
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,0.000000,25.000000,10.000000,0.000000,0.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,1.000000,39.750000,12.000000,0.000000,0.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,1.000000,54.500000,14.000000,1.000000,1.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,1.000000,66.000000,16.000000,1.000000,1.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,2.000000,80.000000,18.000000,1.000000,1.000000

In [6]:
#company_data.info()

In [7]:
'''from sklearn.preprocessing import MinMaxScaler
norm_data=MinMaxScaler().fit_transform(company_data)
df=pd.DataFrame(norm_data,columns=company_data.columns)
df'''

'from sklearn.preprocessing import MinMaxScaler\nnorm_data=MinMaxScaler().fit_transform(company_data)\ndf=pd.DataFrame(norm_data,columns=company_data.columns)\ndf'

In [8]:
data=company_data.copy()

In [9]:
# Check for outliers
from sklearn.ensemble import IsolationForest
clf=IsolationForest(contamination=0.01,random_state=10)
clf.fit(data)

IsolationForest(contamination=0.01, random_state=10)

In [10]:
data['scores']=clf.decision_function(data)
data['anomaly']=clf.predict(data.iloc[:,0:11])

In [11]:
data[data['anomaly']==-1]

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,scores,anomaly
75,8.55,88,111,23,480,92,0,36,16,0,1,-0.021892,-1
165,0.37,147,58,7,100,191,0,27,15,1,1,-0.009228,-1
174,0.00,139,24,0,358,185,1,79,15,0,0,-0.006591,-1
367,14.37,95,106,0,256,53,2,52,17,1,0,-0.018025,-1

In [12]:
data=data.drop(data.index[[75,165,174,367]],axis=0).reset_index()
data=data.drop(['index'],axis=1)

In [13]:
data.tail()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,scores,anomaly
391,12.57,138,108,17,203,128,2,33,14,1,1,0.082170,1
392,6.14,139,23,3,37,120,1,55,11,0,1,0.068608,1
393,7.41,162,26,12,368,159,1,40,18,1,1,0.063488,1
394,5.94,100,79,7,284,95,0,50,12,1,1,0.132051,1
395,9.71,134,37,0,27,120,2,49,16,1,1,0.105341,1

In [14]:
X=data.iloc[:,1:11]
Y=data.iloc[:,0]

In [15]:
#model validation technique (train test)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=2)

## Decision Tree Regressor (CART)

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
model=DecisionTreeRegressor(max_depth=9)
model.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=9)

In [18]:
#find accuracy using train test
model.score(x_test,y_test)

0.20049080962641397

In [19]:
model.score(x_train,y_train)  #Training Accuracy     overfitted

0.9866433809853454

In [20]:
#model.feature_importances_

In [21]:
#model validation technique (k-fold)
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold=KFold(n_splits=6)

In [22]:
results=cross_val_score(model,X,Y,cv=kfold)

In [23]:
#Accuracy using k-fold
results.mean()

0.3852163827267217

In [24]:
#Ensemble Technique(Bagging)
from sklearn.ensemble import BaggingRegressor
model1=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=10),n_estimators=451,random_state=7) #n_estim=no.trees(default10)

In [25]:
model1.fit(x_train,y_train)  #using train test split

BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=10),
                 n_estimators=451, random_state=7)

In [26]:
#find accuracy  using train test
model1.score(x_test,y_test)

0.6883344517417906

In [27]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model1,X,Y,cv=kfold)
results.mean()

0.6834269081886594

In [28]:
#Ensemble Technique(AdaBoost)
from sklearn.ensemble import AdaBoostRegressor
model2=AdaBoostRegressor(n_estimators=950,random_state=99)
model2.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=950, random_state=99)

In [29]:
#find accuracy  using train test
model2.score(x_test,y_test)

0.6728449841414651

In [30]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model2,X,Y,cv=kfold)
results.mean()

0.7102741118421578

## Decision Tree Classifier (CART) gini

In [31]:
X=data.iloc[:,1:11]
# convert numeric(target var) to categorical
y=[0 if a<=7.496325 else 1 for a in Y]   
y=pd.DataFrame(y)
y.value_counts()

0    199
1    197
dtype: int64

In [32]:
#model validation technique(train test split)
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.30)

In [33]:
from sklearn.tree import DecisionTreeClassifier
model_gini=DecisionTreeClassifier(criterion='gini',max_depth=10)
model_gini.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=10)

In [34]:
#find accuracy  using train test
model_gini.score(X_test,Y_test)

0.7899159663865546

In [35]:
#or we can find accuracy using y_pred
from sklearn.metrics import accuracy_score
Y_pred=model_gini.predict(X_test)
accuracy_score(Y_pred,Y_test)

0.7899159663865546

In [36]:
model_gini.score(X_train,Y_train)    #Training Accuracy     overfitted

0.9819494584837545

In [37]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.80      0.81      0.81        64
           1       0.78      0.76      0.77        55

    accuracy                           0.79       119
   macro avg       0.79      0.79      0.79       119
weighted avg       0.79      0.79      0.79       119

In [38]:
#model validation technique (k-fold)
#Accuracy using k-fold
kfold=KFold(n_splits=10)
results=cross_val_score(model_gini,X,y,cv=kfold)
results.mean()

0.729423076923077

In [39]:
#Ensemble Technique(Bagging)
from sklearn.ensemble import BaggingClassifier
model3=BaggingClassifier(base_estimator=model_gini,n_estimators=600)
model3.fit(X_train,Y_train)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth=10),
                  n_estimators=600)

In [40]:
#find accuracy  using train test
model3.score(X_test,Y_test)

0.8403361344537815

In [41]:
Y_preds=model3.predict(X_test)
print(classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.85      0.86      0.85        64
           1       0.83      0.82      0.83        55

    accuracy                           0.84       119
   macro avg       0.84      0.84      0.84       119
weighted avg       0.84      0.84      0.84       119

In [42]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model3,X,y.values.ravel(),cv=kfold)
results.mean()

0.8080379746835444

In [43]:
#Ensemble Technique(AdaBoost)
from sklearn.ensemble import AdaBoostClassifier
model4=AdaBoostClassifier(n_estimators=167,random_state=50)
model4.fit(X_train,Y_train)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

AdaBoostClassifier(n_estimators=167, random_state=50)

In [44]:
#find accuracy  using train test
model4.score(X_test,Y_test)

0.8319327731092437

In [45]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model4,X,y.values.ravel(),cv=kfold)
results.mean()

0.8283544303797468

## Decision Tree Classifier (C5.0) Entropy

In [46]:
X=data.iloc[:,1:11]
y.value_counts()

0    199
1    197
dtype: int64

In [47]:
#model validation technique(train test split)
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST=train_test_split(X,y,test_size=0.3)

In [48]:
model_entropy=DecisionTreeClassifier(criterion='entropy',max_depth=10)
model_entropy.fit(X_TRAIN,Y_TRAIN)
model_entropy.score(X_TEST,Y_TEST)  #Accuracy

0.7310924369747899

In [49]:
#model validation technique (k-fold)
kfold=KFold(n_splits=9)
results=cross_val_score(model_entropy,X,y.values.ravel(),cv=kfold)
results.mean()  #Accuracy using k-fold

0.755050505050505

In [50]:
#Ensemble Technique(Bagging)
model5=BaggingClassifier(base_estimator=model_entropy,n_estimators=420)
model5.fit(X_TRAIN,Y_TRAIN)
model5.score(X_TEST,Y_TEST)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.7310924369747899

In [51]:
#Accuracy using k-fold
kfold=KFold(n_splits=8)
results=cross_val_score(model5,X,y.values.ravel(),cv=kfold)
results.mean()

0.8078571428571428

In [52]:
#Ensemble Technique(AdaBoost)
model6=AdaBoostClassifier(n_estimators=67)
model6.fit(X_TRAIN,Y_TRAIN)
model6.score(X_TEST,Y_TEST)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.8235294117647058

In [53]:
#Accuracy using k-fold
kfold=KFold(n_splits=7)
results=cross_val_score(model6,X,y.values.ravel(),cv=kfold)
results.mean()

0.8231740064446831

In [54]:
#Ensemble Technique (Stacking)
from sklearn.ensemble import VotingClassifier

In [61]:
#make a list whose accuracy max
estimators=[]
estimators.append(('DTregressorCART(AdaBoost)',model2))
estimators.append(('DTclassifierCARTgini(AdaBoost)',model4))
estimators.append(('DTclassifierC5.0entropy(Bagging)',model5))

In [65]:
#estimators

In [63]:
#model validation technique(train test split)
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=0.25)
stacking=VotingClassifier(estimators)
stacking.fit(train_x,train_y)

ValueError: The estimator AdaBoostRegressor should be a classifier.

In [64]:
stacking.score(test_x,test_y)

AttributeError: 'VotingClassifier' object has no attribute 'estimators_'

In [ ]:
#Model validation technique(k-fold)
kfold=KFold(n_splits=9)
results=cross_val_score(stacking,X,y.values.ravel(),cv=kfold)
results.mean()